<div>
    <span>
        "Tu bienestar es nuestra prioridad.
    </span>
    <span>
        Dejar de fumar es el primer paso hacia una vida más saludable y plena"
    </span>
</div>


<style>
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        color: #D7DADC;
        font-family: SF Pro;
        margin-top: 6%;
    }
</style>