---

---
<div class="heroContainer">
	<div class="info">
		<span>Antonella Lujan Pizarro</span>
		<span>Año 2024</span>
		<span>CoderHouse: Curso UX/UI</span>
	</div>
	<div class="LogoApp">
		<div class="logo">
			<img src="../../public/logoApp.png" alt="LogoApp">
		</div>	
	</div>
</div>

<style>
	.heroContainer{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.info{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 20px;
		color:#D0CAE5;
		font-family: SF Pro;
		font-weight: 500;

	}

	.LogoApp{
		display: flex;
		justify-content: center;
	}

	.logo{
		display: flex;
		justify-content: center;
		height: 7%;
	}

	img{
		width: 70%;
		height: 70%;
		object-fit: cover;
		z-index: 99999;
	}
	
</style>
